.header{
    background-color: rgba(184, 135, 11, 0.566);
}
*{
    margin: 5px;
    padding: 10px;
}
.todo{
    gap: 100px;
    padding: 0;
    position: relative;
}
.delete{
    position: absolute;
    right: 0;
}
.todos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.todo.done .content{
    text-decoration: line-through;
}
